<p>Hello {{ name }}!</p>

<form action="#" {{ form_enctype(form) }} method="POST" class="">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'parameters.submit'|trans({}, 'KDBParametersBundle') }}" />
    </div>
</form>
