{% form_theme form theme %}

<form action="#" {{ form_enctype(form) }} method="POST" class="kdb_parameters_form">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'parameters.submit'|trans({}, 'KDBParametersBundle') }}" />
    </div>
</form>
